@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  background-size: 100%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  gap: 5rem;
  margin-top: 5rem;
}
h2 {
  font-size: 8rem;
}
.wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 15rem;
}

#game {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 4rem;
  justify-content: center;
  padding: 3rem;
  border: 2px solid #ffff;
}

#game div {
  border-radius: 8rem;
}

.card {
  padding: 15rem;
}

.backgroundImg {
  background: url("images/frontface.png") no-repeat;
  background-size: cover;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

.wrong-pick {
  animation: shake 2s ease infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}

.correct-pick {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
