@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
  height: 100vh;
  gap: 8rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

header {
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 3rem;
  padding: 2rem;
  display: none;
}

.homePage {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.homePage button,
.lostMsg button,
header button,
.successMsg button {
  align-self: center;
  border: none;
  outline-style: none;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-family: "Open Sans", sans-serif;
}
header button {
  font-size: 1rem;
  padding: 0.7rem 1rem;
}
button:hover {
  transform: scale(1.03);
  cursor: pointer;
}
button:focus {
  transform: scale(0.9);
}
.title {
  display: none;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: -3rem;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.levelSec {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  display: none;
}

.levelSec button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline-style: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
  align-self: center;
  display: none;
  padding: 1rem;
  margin-right: -3rem;
  width: 95%;
}

#game {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  gap: 1.5rem;
}

#game div {
  border-radius: 8rem;
}

/* cards section */

.card {
  padding: 1.3rem;
  display: flex;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.frontface {
  background: url("images/frontface.png") no-repeat;
  background-size: cover;
  background-position-x: center;
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  border-radius: 4rem;
}

.backface {
  display: none;
}
.backface img {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  object-fit: cover;
}

.correct-pick {
  animation: gelatine 0.5s infinite;
}

.wrong-pick {
  animation: shake 2s ease infinite;
}

.score-Sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/* after match ends messages section */

.successMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10rem;
  display: none;
}

.successMsg h5 {
  font-size: 4.2rem;
  font-family: "Open Sans", sans-serif;
}

.successMsg p {
  font-size: 2.3rem;
  font-weight: 400;
  padding: 4.5rem;
  font-family: "Public Sans", sans-serif;
}

.lostMsg {
  font-size: 4.2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: none;
}

.lostMsg p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
  font-family: "Public Sans", sans-serif;
}

.lostMsg button,
.successMsg button {
  margin-top: 1.5rem;
}
.lostMsgbtn a,
.homebtn a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* key frame sections */

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* media queries section */

@media (max-width: 1200px) {
  body {
    width: auto;
    gap: 2rem;
  }
  header {
    margin-top: 3rem;
  }

  h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 6rem;
    width: 95%;
  }
  .homePage button,
  .lostMsg button,
  header button,
  successMsg button {
    padding: 1rem 1.3rem;
    font-size: 2rem;
  }
  .wrapper {
    width: auto;
    align-self: center;
    display: none;
    margin: 0;
    margin-left: 4rem;
  }

  .title {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 0rem;
  }
  .card {
    width: auto;
    padding: auto;
    height: auto;
  }
  .count,
  .flipCount,
  .bestScrore {
    font-size: 1.5rem;
  }

  .lostMsg p {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .successMsg h5,
  .lostMsg h5 {
    font-size: 6rem;
  }
  .successMsg p {
    font-size: 3rem;
  }
}
