@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Public+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  background-size: 100%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  gap: 5rem;
}
h2 {
  font-size: 8rem;
}
.wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 70%;
}

#game {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 4rem;
  justify-content: center;
  padding: 3rem;
  width: 70%;
}

#game div {
  padding: 15rem 13rem;
}
.backgroundImg {
  background: url("images/frontface.png") no-repeat;
  background-size: cover;
  background-position-x: center;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}
